<section class="stats">

    <div class="stats__container">
        <div class="stats__item">

            <div class="stats__icon">
                <i class="fa-solid fa-trophy"></i>
            </div>

            <div class="stats__content">
                <h3 class="stats__number">15+</h3>
                <span class="stats__text">{{ 'stats.yearsExperience' | translate }}</span>
            </div>

        </div>

        <div class="stats__item">

            <div class="stats__icon">
                <i class="fa-solid fa-users"></i>
            </div>

            <div class="stats__content">
                <h3 class="stats__number">850+</h3>
                <span class="stats__text">{{ 'stats.happyClients' | translate }}</span>
            </div>

        </div>

        <div class="stats__item">

            <div class="stats__icon">
                <i class="fa-regular fa-building"></i>
            </div>

            <div class="stats__content">
                <h3 class="stats__number">1200+</h3>
                <span class="stats__text">{{ 'stats.projectsCompleted' | translate }}</span>
            </div>

        </div>

        <div class="stats__item">

            <div class="stats__icon">
                <i class="fa-solid fa-award"></i>
            </div>

            <div class="stats__content">
                <h3 class="stats__number">25+</h3>
                <span class="stats__text">{{ 'stats.awardsWon' | translate }}</span>
            </div>

        </div>
    </div>
</section>