<section class="gallery section">

    <div class="container">

        <app-section-header
            [subtitle]="'gallery.header.subtitle' | translate"
            [title]="'gallery.header.title' | translate" />

        <!-- Filters -->

        <div class="gallery__filter">

           <button  [class.active]="selectedCategoryId === 0" (click)="filterGallery(0)">
                {{ 'common.all' | translate }}
            </button>

            @for (cat of categories; track cat.id) {
            <button [class.active]="selectedCategoryId === cat.id"
                (click)="filterGallery(cat.id)">
                {{ cat.name | translate }}
            </button>
            }

        </div>

        <!-- Gallery -->

        <div class="gallery__grid">

            @for(image of displayedGallery; track image.id){

            <div class="gallery-card" [class.gallery-card--large]="image.large">

                <img [src]="image.image" [alt]="image.title | translate">

                <div class="gallery-card__overlay">

                    <h3>{{ image.title | translate }}</h3>

                    {{ (getCategoryName(image.catId) )| translate }}

                </div>

            </div>

            }

        </div>

    </div>

</section>