<section class="services section">

    <div class="container">

        <app-section-header [subtitle]="'services.header.subtitle' | translate"
            [title]="'services.header.premiumTitle' | translate" />

        <div class="services__grid">

            @for (item of services; track $index) {
            <div class="service-card">

                <div class="service-card__icon">
                    <img [src]="item.icon" [alt]="item.name | translate">
                </div>

                <h3 class="service-card__title">
                    {{ item.name | translate }}
                </h3>

            </div>
            }

        </div>

        <div class="services__button">

            @if (hasMoreServices) {
            <button class="btn btn--primary" (click)="showAllServices()">
                {{ 'services.viewAll' | translate }}
            </button>
            }

        </div>

    </div>

</section>