<section class="legal-page">

    <div class="container">


        <div class="legal-page__wrapper">


            <div class="legal-page__header">

                <h1>
                    {{ 'privacy.title' | translate }}
                </h1>

                <p>
                    {{ 'privacy.intro' | translate }}
                </p>

            </div>



            <div class="legal-page__content">


                <div class="legal-page__card">

                    <h2>
                        {{ 'privacy.collect.title' | translate }}
                    </h2>

                    <p>
                        {{ 'privacy.collect.text' | translate }}
                    </p>

                </div>



                <div class="legal-page__card">

                    <h2>
                        {{ 'privacy.use.title' | translate }}
                    </h2>

                    <p>
                        {{ 'privacy.use.text' | translate }}
                    </p>

                </div>



                <div class="legal-page__card">

                    <h2>
                        {{ 'privacy.security.title' | translate }}
                    </h2>

                    <p>
                        {{ 'privacy.security.text' | translate }}
                    </p>

                </div>



                <div class="legal-page__card">

                    <h2>
                        {{ 'privacy.contact.title' | translate }}
                    </h2>

                    <p>
                        {{ 'privacy.contact.text' | translate }}
                    </p>

                </div>


            </div>

            <!-- Footer -->
            <div class="legal-page__footer">

                <p>
                    {{ 'terms.footer' | translate }}
                </p>

            </div>


        </div>


    </div>


</section>