<section class="projects section">

  <div class="container">

    <app-section-header
      [subtitle]="'projects.header.subtitle' | translate"
      [title]="'projects.header.title' | translate">
    </app-section-header>


    <div class="projects__grid">

      @for (project of projects; track project.id) {

        <article class="project-card">

          <div class="project-card__image">

            <img
              [src]="project.imageUrl"
              [alt]="getProjectTitle(project)"
            >

          </div>


          <div class="project-card__content">

            <span class="project-card__category">
              {{ getProjectCategory(project) }}
            </span>

            <h3 class="project-card__title">
              {{ getProjectTitle(project) }}
            </h3>

          </div>

        </article>

      }

    </div>


    <div class="projects__button">

      <a
        routerLink="/Projects"
        class="btn btn--primary"
      >
        {{ 'projects.viewAll' | translate }}
      </a>

    </div>

  </div>

</section>