<section class="legal-page">

    <div class="container">


        <div class="legal-page__wrapper">


            <!-- Header -->
            <div class="legal-page__header">

                <h1>
                    {{ 'terms.title' | translate }}
                </h1>


                <p>
                    {{ 'terms.intro' | translate }}
                </p>

            </div>



            <!-- Content Cards -->
            <div class="legal-page__content">


                <!-- Services -->
                <div class="legal-page__card">

                    <h2>
                        {{ 'terms.services.title' | translate }}
                    </h2>


                    <p>
                        {{ 'terms.services.text' | translate }}
                    </p>

                </div>



                <!-- Quote -->
                <div class="legal-page__card">

                    <h2>
                        {{ 'terms.quote.title' | translate }}
                    </h2>


                    <p>
                        {{ 'terms.quote.text' | translate }}
                    </p>

                </div>



                <!-- Payment -->
                <div class="legal-page__card">

                    <h2>
                        {{ 'terms.payment.title' | translate }}
                    </h2>


                    <p>
                        {{ 'terms.payment.text' | translate }}
                    </p>

                </div>



                <!-- Intellectual Property -->
                <div class="legal-page__card">

                    <h2>
                        {{ 'terms.property.title' | translate }}
                    </h2>


                    <p>
                        {{ 'terms.property.text' | translate }}
                    </p>

                </div>



                <!-- Liability -->
                <div class="legal-page__card">

                    <h2>
                        {{ 'terms.liability.title' | translate }}
                    </h2>


                    <p>
                        {{ 'terms.liability.text' | translate }}
                    </p>

                </div>



                <!-- Changes -->
                <div class="legal-page__card">

                    <h2>
                        {{ 'terms.changes.title' | translate }}
                    </h2>


                    <p>
                        {{ 'terms.changes.text' | translate }}
                    </p>

                </div>


            </div>




            <!-- Footer -->
            <div class="legal-page__footer">

                <p>
                    {{ 'terms.footer' | translate }}
                </p>

            </div>



        </div>


    </div>


</section>